# Dev
.idea
.vscode
*.iml

# Folders
node_modules
.serverless
bin
testresults
.gobincache/

# Files
build/.ran_goimports
template.yml
certs
stack*.json
.DS_Store
.deployed_*
.removed_*
tmp.*
coverage.out
.gobincache
.mage
/mage